<html>
  <head>
    {%load static%}
     
    <link rel="stylesheet"  href="{% static 'css/sss.css' %}">
  </head>
  <body>

    <div class="container">
        <div class="box">
          <span></span>
          <div class="content">
            <h2>Start Course.</h2>
            <p>Apply and sumbit your own course</p>
            <a href="{% url 'testa:createcourse' %}">Submit</a>
          </div>
        </div>
        <div class="box">
          <span></span>
          <div class="content">
            <h2>Request Course.</h2>
            <p>request for topics you want to learn</p>
            <a href="{% url 'testa:requestcourse'%}">Request</a>
          </div>
        </div>
        <div class="box">
          <span></span>
          <div class="content">
            <h2>Community Connect </h2>
            <p>connect with people with same interest </p>
            <a href="{% url 'chat-home'%}">start chat</a>
          </div>
        </div>
      </div>
      <br>
        </div>
      </div>
  </body>
</html>