html,
body,
header,
#intro {
    height: auto;
}

#intro {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Images/bm2.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-light {
    background-color: transparent !important;
    transition: 0.5s ease;
}

.text-white {
    color: white;
}

hr {
    border-color: inherit;
}

.btn-outline-white {
    border-color: cyan;
}

.event-mask {
    position: relative;
    left: auto;
    bottom: auto;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    transform: translate(0, -100%);
}

#event-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/bm2.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.info-header {
    height: 60%;
}

#page-intro {
    height: 100%;
}

#page-intro {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/empty-desk.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* breadcrumb class */


/* Style the list */


/* Add a slash symbol (/) before/behind each list item */


/* Add
.disabled-text {
    color: gray;
}


/* bradcrumb class over */

.card-std {
    border-radius: 4px;
    background: rgb(231, 230, 217);
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 14px 14px 14px 14px;
}

.card-std:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(200, 0, 0, .12), 0px 4px 8px rgba(200, 0, 0, .06);
}

.box-shadow-hover:hover {
    box-shadow: 0 2px 40px 0 rgba(100, 0, 0, 0.16), 0 2px 10px 0 rgba(100, 0, 0, 0.12);
}


/* get lesson button */


/* get lesson button */


/* responsive video */

#player-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: #000;
    z-index: 999;
}

video {
    display: block;
    width: 100%;
    height: 100%;
}


/* responsive video */

#class-time-table {
    margin-left: auto !important;
    margin-right: auto !important;
}

#class-time-table,
#class-time-table th,
#class-time-table td {
    border: 1px solid black;
}

#class-time-table td {
    padding: 5px 10px;
}